{:name   "kansas"
 :target :zblorb
 :build
 {:zblorb
  {:options ["--cover"     "tragic-prelude.png"
             "--cover-alt" "John Brown"]}}
 :sources
 {:main    ["src/meta.dg" "src/kansas.dg"]
  :test    ["src/unit-tests.dg" "src/unit.dg"]
  :debug   ["src/stddebug.dg"]
  :library ["src/stdlib.dg"]}}
